<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthmonitor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_hm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_hm"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthMonitor">
        <activity
            android:name=".activity.Footsteps"
            android:exported="false" />
        <activity
            android:name=".activity.WeightStatisticActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PostActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SleepActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BmiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WeightActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WaterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
    </application>

</manifest>